
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header Styles */
header {
    background-color: #1a73e8;
    color: white;
    padding: 1.5rem;
    text-align: center;
    transition: background-color 0.5s;
}

header h1 {
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.1rem;
}

/* Main Content Styles */
main {
    padding: 2rem;
}

/* Section Styles */
section {
    margin-bottom: 2rem;
}


section .animate {
    transition: transform 1s;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

li strong {
    font-weight: bold;
}

/* Link Styles */
a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Center the container */
.container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

/* Add padding to the container */
.container p {
    padding: 0 20px;
}

/* Adding an Accent Color */
.accent-color {
    color: #e91e63;
}

/* Adding Media Queries for Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 1rem;
    }

    main {
        padding: 1rem;
    }
}


